* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.form-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-top: 5px solid #a52a2a;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-height: 100px;
  margin-bottom: 10px;
}

.welcome {
  font-family: 'Alex Brush', cursive;
  font-size: 30px;
  color: #e3010f;
}

h3.enquiry-title {
  font-size: 25px;
  background-color: #e3010f;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
}

form {
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: flex-end;
  column-gap: 10px;
}
.row-child {
  width: 100%;
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap !important;
}
label {
  white-space: nowrap;
}

.row input {
  flex: 2;
  padding-inline: 8px;
  border: none;
  border-bottom: 2px dotted #ccc;
  transition: border 500ms;
}
.row input:focus {
  outline: none;
  border-bottom: 2px dotted #313131;
}

.reference {
  width: 50%;
}
.reference label span {
  margin-left: 30px;
  margin-right: 10px;
}
.enquiry-type label span {
  margin-left: 10px;
  margin-right: 10px;
}

.enquiry-type,
.language-proficiency,
.country_preference {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.country_preference > div,
.language-proficiency > div {
  column-gap: 30px;
  row-gap: 12px;
  justify-content: flex-start;
}

.enquiry-type .enquiry-type-options {
  column-gap: 30px;
  row-gap: 12px;
  justify-content: flex-start;
}

.country_preference label span {
  margin-left: 30px;
  margin-right: 10px;
}
.country_preference #other_country {
  max-width: 200px;
}

.language-proficiency label span {
  margin-left: 18px;
}
.language-proficiency #other_language {
  max-width: 200px;
}

.scores-achieved {
  display: flex;
  align-items: flex-start;
}
.scores-achieved > label > span {
  margin-inline: 20px;
}
.scores-achieved > div {
  justify-content: flex-start;
  column-gap: 30px;
  row-gap: 12px;
}
.scores-achieved > div > div {
  display: flex;
  align-items: flex-end;
}
.scores-achieved > div > div input {
  max-width: 100px;
}

.qualification {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.qualification th,
.qualification td {
  border: 1px solid #ccc;
  text-align: left;
  font-weight: 400;
}
.qualification th,
.qualification thead td {
  padding: 10px;
}
.qualification tbody tr td:first-child {
  padding: 10px;
}
.qualification input {
  outline: none;
  width: 100%;
  padding-inline: 10px;
  padding-block: 10px;
  border: 2px solid transparent;
  transition: border 500ms;
}
.qualification input:focus {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.484);
}
.job {
  width: 100%;
  margin-top: 8px;
  border-collapse: collapse;
}

.job th,
.job td {
  border: 1px solid #ccc;
  text-align: left;
  font-weight: 400;
}
.job th,
.job thead td {
  padding: 10px;
}
.job input {
  outline: none;
  width: 100%;
  padding-inline: 10px;
  padding-block: 10px;
  border: 2px solid transparent;
  transition: border 500ms;
}
.job input:focus {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.484);
}

.notes {
  margin-block: 15px;
}

.form-submit {
  text-align: center;
  margin-block: 12px;
}

.submit-button {
  background-color: #02a402;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #008600;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

footer a,
footer p {
  text-decoration: none;
  margin-bottom: 8px;
  color: #e3010f;
  width: fit-content;
}
footer > div {
  display: flex;
  justify-content: center;
  gap: 5px;
}
footer > .phone-cont > div {
  display: flex;
}
footer > .phone-cont > div > span {
  display: flex;
  align-items: center;
}
footer > .phone-cont > div > span img {
  width: 20px;
  margin-top: -6px;
  margin-right: 4px;
}
footer > .phone-cont > div .phone-divider {
  margin-inline: 10px;
}

footer > div svg {
  margin-top: 3px;
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 767px) {
  .row {
    flex-wrap: wrap;
    gap: 10px;
  }
  label span {
    margin-inline: 5px !important;
  }
  .scores-achieved {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .country_preference {
    margin-bottom: 10px;
  }
}
